# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
/bin/
/pkg/
/vendor/

# Architecture specific extensions/prefixes
*.[568vq]

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

# Binaries, tests and benchmarks
*.exe
*.exe~
*.test
*.prof

# Temporary and backup files
*.out
*.bak

# Fetcher work files
/cmd/fetcher/*.html
